.container {
   max-width: 750px;
   margin: 0 auto;
   margin-top: 2em;
}

.form-wrap {
   border: 1px solid $gray;
   border-radius: 5px;
   padding: 1em 2em;
   margin: 3em 0;
   max-width: 350px;
   margin: 0 auto;
}
